/* Chicago specific CSS */

a {
	color: #C00000;
}

.btn-primary {
	background-color: #C00000;
	border-color: #C00000;
}

.badge-muted {
	background-color: #DBEEFA;
	color: #333;
}

.well {
	border: none;
	border-radius: 0px;
	box-shadow: none;
}

.bg-info{
	background-color: #DBEEFA;
}
.padded-bg{
	padding-top: 8px;
	padding-bottom: 8px;
}

.divider {
	height: 30px;
}

/* bill status labels */
.label-stale{
    background-color: #999;
}
.label-passed{
    background-color: #82D14C;
}
.label-approved{
    background-color: #82D14C;
}
.label-active{
    background-color: #7cc1e9;
}
.label-failed{
    background-color: #E96363;
}