/* Chicago specific CSS */

a {
	color: #C00000;
}

.btn-primary {
	background-color: #C00000;
	border-color: #C00000;
}
.btn-info {
	background-color: #DBEEFA;
	border-color: #DBEEFA;
	color: #333;
}
.btn-info:hover, .btn-info:active {
	background-color: #54afe8; /* medium blue */;
	border-color: #54afe8; /* medium blue */
	color: #fff;
}
.btn-bill-detail:hover, .btn-bill-detail:active{
	background-color: #54afe8; /* medium blue */
	color: #fff;
}




.nav-pills > li > a {
	color: #1c87ca; /* dark blue */
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li > a:hover {
    background: none;
    color: #1c87ca; /* dark blue */
    border-bottom: 8px solid #1c87ca; /* dark blue */
}




.badge-muted {
	background-color: #DBEEFA;
	color: #333;
}

.well {
	border: none;
	border-radius: 0px;
	box-shadow: none;
}

.bg-info{
	background-color: #DBEEFA;
}
.padded-bg{
	padding-top: 8px;
	padding-bottom: 8px;
}

.divider {
	height: 30px;
}






/* bill status labels */
.label-stale{
    background-color: #999; /* dark grey */
}
.label-passed{
    background-color: #009a00; /* green */
}
.label-approved{
    background-color: #009a00; /* green */
}
.label-active{
    background-color: #54afe8; /* medium blue */
}
.label-failed{
    background-color: #720000; /* dark red */
}

#logo {
    top: -12px;
}

#person-detail-headshot{
    max-height: 250px;
}

/* homepage */
#section-photo{
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url('../images/city_hall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
}
#section-photo .h3, #section-photo h1{
	color: #fff;
}

#next-council-meeting-well{
    background-image:
        linear-gradient(
          rgba(192, 0, 0, 0.25),
          rgba(192, 0, 0, 0.25)
        ),
        url('../images/council_chambers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 500px;
}
#next-council-meeting-well > .h4 {
	color: #DBEEFA;
}
#next-council-meeting-well > .h3 {
	color: #fff;
}