<div class="row">
  <div class="col-xs-3 no-pad-right">
    <p class="small">
      <i class="fa fa-fw fa-clock"></i> {{event.start_time| date:"g:i a"}}<br/>
    </p>
  </div>
  <div class="col-xs-9">
    <p>
      {% if event.status == 'cancelled' %}
        <a href="{{event.event_page_url}}" class="text-muted">CANCELLED: {{event.name}}</a>
      {% else %}
        <a href="{{event.event_page_url}}">{{event.name}}</a>
      {% endif %}
      <br/><span class="small text-muted">{{event.description}}</span>
    </p>
  </div>
</div>
