# Byte-compiled / optimized / DLL files
.DS_Store
*~
*#

# Settings
settings_deployment.py

# Collected Static Files
static/**
**/static/images/headshots/

.env

**/__pycache__
*.pyc

downloads
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/scripts/after_install.sh
/scripts/app_start.sh
/scripts/app_stop.sh
/scripts/validate_service.sh
/configs/settings_deployment_staging.py
/configs/settings_deployment_production.py
