dj-database-url
whitenoise
django-councilmatic==3.2
django-haystack[elasticsearch]
elasticsearch>=7.0.0,<7.14.0
sentry-sdk==0.20.3
gunicorn==19.6.0
pytest==4.6.2
pytest-django==3.5.0
setuptools
psycopg2>=2.8,<2.9
https://github.com/opencivicdata/python-opencivicdata/archive/refs/heads/3.2-model-permissions.zip
