https://github.com/datamade/django-councilmatic/archive/2.5.tar.gz
https://github.com/datamade/django-councilmatic-notifications/2.5.tar.gz
raven==6.10.0
gunicorn==19.6.0
django-debug-toolbar==1.9.1
pytest==4.6.2
pytest-django==3.5.0
setuptools
