{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - {{SITE_META.site_name}}</title>

    {% include 'partials/seo.html' %}
    {% include 'partials/icons.html' %}

    <meta name="google-site-verification" content="6GhAJfsL-lriLRGXSHXYHcAYDMrr_UFU8t3mrgohknM" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.journal.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/city_custom.css' %}" />

    {% block extra_css %}{% endblock %}

  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid container-fluid-nav">
        <div id="nav-title">
          <a class="navbar-brand" href="/">
            <img id="logo" src="{% static 'images/logo.png' %}"></img>
            <span id="logo-text">{{ CITY_NAME_SHORT }} Councilmatic</span>
          </a>
        </div>
        <ul id="nav-items">
          <li>
            <a href="{% url 'about' %}">About</a>
          </li>
          <li>
            <a href="/updates">Updates</a>
          </li>
          <li>
            <a href="{% url 'council_members' %}">Find your Ward</a>
          </li>
          <li>
            <a href="/compare-council-members">Compare Alders</a>
          </li>
          <li>
            <a href="/divided-votes">Divided Votes</a>
          </li>
          <li>
            <a href="{% url 'committees' %}">Committees</a>
          </li>
          <li>
            <a href="{% url 'events' %}">{{ CITY_VOCAB.EVENTS }}</a>
          </li>
          <li>
            <a href="{% url 'search' %}">Legislation</a>
          </li>
        </ul>
      </div>
    </nav>

    <br>
    {% if messages %}
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            {% for message in messages %}
              <div {% if message.tags %}class="alert-signup alert alert-info {{ message.tags }}"{% endif %} role="alert">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    {% block full_content %}
    {% endblock %}

    <div class="container-fluid footer">
      <div class='col-sm-12'>
        <div class='clearfix'></div>

        <p>Part of the <a href='https://www.councilmatic.org' target="_blank">Councilmatic family</a>. Proudly brought to you by <a href="https://datamade.us">DataMade</a>. &copy; {% now "Y" %}</p>

      </div>
    </div>

    <script src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
    </script>

    {% block extra_js %}{% endblock %}


    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://datamade.matomo.cloud/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '9']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src='//cdn.matomo.cloud/datamade.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->


  </body>
</html>
