{% extends "base_with_margins.html" %}
{% load extras static %}
{% block title %}{{committee.name}}{% endblock %}
{% block content %}

  <div class="row-fluid">
    <div class="col-sm-8">
      <br/>
      <h1>
        {{committee.name}}
      </h1>
      {% if committee_description %}
        <p>{{committee_description}}</p>
      {% endif %}

      <hr />

      <h4><i class='fa fa-fw fa-group'></i> Committee Members ({{ committee.all_members|length }})</h4>

      {% include 'partials/committee_person_table.html' %}

      <hr />

      {% if committee.recent_events %}
        <h4 class="modal-links">
          <i class='fa fa-fw fa-calendar-o'></i> Committee meetings&nbsp;

          <small class="pull-right"><a href="events/rss/" title="RSS feed for Committee Events by {{committee.name}}"><i class="fa fa-rss-square" aria-hidden="true"></i> RSS feed for committee events</a></small>

        </h4>

        <div class="table-responsive">
          <table class='table' id='committee-actions'>
            <thead>
              <tr>
                <th>Date</th>
                <th>Meeting</th>
                <th>Attendance</th>
              </tr>
            </thead>
            <tbody>
              {% for event in committee.recent_events %}
                <tr class="event-listing">
                  <td class='nowrap'>
                    <p class="text-muted no-pad-bottom">
                      {{event.start_time | date:'Y-m-d' }}
                    </p>
                  </td>
                  <td class='nowrap'>
                    <p class="no-pad-bottom">
                      {%if event.status == 'cancelled'%}
                        <a href="{{event.event_page_url}}" class="text-muted">CANCELLED: {{event.name}}</a>
                      {% else %}
                        <a href="{{event.event_page_url}}">{{event.name}}</a>
                      {% endif %}
                    </p>
                  </td>
                  <td>
                    {% if event.status == 'passed' %}
                      {% if event.attendance %}
                        {{event.attendance|length}} members attended
                      {% else %}
                        No attendance taken
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <hr />
      {% endif %}

      <br />
      <h3>Tools</h3>
      <div class="modal-links">
        <!-- View on legistar -->
        {{ committee|get_legistar_link|safe }}
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.sorting.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>

  <script>
    $("#council-members").DataTable({
      "info": false,
      "searching": false,
      "bLengthChange": false,
      "paging": false,
      "aaSorting": [ [3,'asc'] ],
      "aoColumns": [
        { "bSortable": false },
        null,
        { "sType": "num-html" },
        null
      ]
    });

  </script>
{% endblock %}
