{% extends "base_with_margins.html" %}
{% load static %}
{% block title %}{{CITY_COUNCIL_NAME}} Members{% endblock %}

{% block extra_css %}
  {% if map_geojson %}
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
  {% endif %}
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h1>Find Your Ward and Alder</h1>
        <h4>Enter your address or browse the map to find which of Chicago's 50 Wards you live in. The Alder of that Ward is your Alder.</h4>
        <div class="input-group address-search">
          <input name="search_address" id='search_address' type="text" class="form-control" placeholder="Enter your address">
          <div class='input-group-btn'>
            <button id='btn_search' class="btn btn-primary" title='Search'>
              <i class='fa fa-fw fa-search'></i><span class="non-mobile-only"> Search</span>
            </button>
            <a class='btn btn-default' id='reset' title='Reset the map' href='#'>
              <i class='glyphicon glyphicon-repeat'></i> Reset
            </a>
          </div>
        </div>
        <div id="council-member-scroll-area">
          {% include 'partials/council_member_table.html' %}
        </div>
      </div>
      <div class='col-sm-6 hidden-xs'>
        <div id="map"></div>
      </div>
    </div>
  </div>

{% endblock %}


{% block extra_js %}
  {% include 'partials/map.html' %}
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.sorting.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>

  <script>
    var council_member_table = $("#council-members").DataTable({
      "info": false,
      "bLengthChange": false,
      "paging": false,
      "aaSorting": [ [2,'asc'] ],
      "aoColumns": [
        { "bSortable": false },
        null,
        { "sType": "num-html" }
      ]
    });

    {% if map_geojson %}
      $('tbody tr').on( 'mouseover', function () {
        hoverOnRow(this.id);
        $('tr').css('background-color', 'inherit')
        $(this).css('background-color', '#eee');
      } );

      $('tbody tr').on( "mouseout", function() {
        $('tr').css('background-color', 'inherit');
        hoverOffRow(this.id);
      } )

      function hoverOffRow(select_id){
        districts.eachLayer(function (layer) {

          if (layer.feature.properties.select_id === select_id){
            layer.fire('tableout');
          }

        });

      }

      function hoverOnRow(select_id) {
        districts.eachLayer(function (layer) {

          layer.setStyle({'fillOpacity': .2})


          if (layer.feature.properties.select_id === select_id){
            layer.fire('tableover');
          }

        });
      }

    {% endif %}

  </script>

{% endblock %}
