{% extends "base_with_margins.html" %}
{% load static extras %}
{% block title %}Divided Votes{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-8">
      <h1>Divided Votes - {{ legislative_session.name }}</h1>

      <p>For the {{ legislative_session.name }} of Chicago City Council under <strong>Mayor {{legislative_session.identifier|get_mayor}}</strong>, there have been <strong>{{bills|length}} votes</strong> with any dissenting "No" votes (sometimes referred to as a divided roll call). Everything else has either been held in committee with no vote or is considered noncontroversial and has passed unanimously.</p>

      <p>Filter by legislative term: <br class="visible-xs" />
        {% for term in legislative_session_options %}
          <a href="/divided-votes/{{term}}/" class="btn btn-primary {% if legislative_session.identifier == term %}active{% endif %}">{{term}} - {{term|add:"4"}}</a>
        {% endfor %}
      </p>
    </div>
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class='table' id='split-votes'>
          <thead>
            <tr>
              <th>Legislation</th>
              <th>Primary sponsor</th>
              <th>Date of last action</th>
              <th>Votes for</th>
              <th>Votes against</th>
            </tr>
          </thead>
          <tbody>
            {% for legislation in bills %}
              <tr>
                <td>
                  <p class='h4'><a href="{% url 'bill_detail' legislation.slug %}">{{ legislation.friendly_name }}</a> {{ legislation.inferred_status | inferred_status_label | safe }}</p>
                  {{ legislation.title | short_blurb }}

                  {% if legislation.topics %}
                    <br />
                    <i class="fa fa-fw fa-tag"></i>
                    {% for tag in legislation.topics %}
                      <span class="badge badge-muted pseudo-topic-tag">
                        <a href='/search/?q=&selected_facets=topics_exact:{{ tag }}'>{{ tag }}</a>
                      </span>
                    {% endfor %}
                    <br/>
                  {% else %}
                    <i class="fa fa-fw fa-tag"></i>
                    {% for tag in legislation.pseudo_topics %}
                      <span class="badge badge-muted pseudo-topic-tag">
                        <a href='/search/?q=&selected_facets=topics_exact:{{ tag | committee_topic_only}}'>{{ tag | committee_topic_only }}</a>
                      </span>
                    {% endfor %}
                    <br/>
                  {% endif %}
                </td>
                <td class="nowrap">
                  {{legislation.primary_sponsor.person.name}}
                </td>
                <td>
                  {% firstof legislation.last_action_date|date:'n/d/Y' legislation.get_last_action_date|date:'n/d/Y' %}
                </td>
                <td>
                  {% for vote_event in legislation.votes.all %}
                    {% for count in vote_event.counts.all %}
                      {% if count.option == 'yes' %}
                        {{count.value}}<br />
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                </td>
                <td>
                  {% for vote_event in legislation.votes.all %}
                    {% for count in vote_event.counts.all %}
                      {% if count.option == 'no' %}
                        {{count.value}}<br />
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.sorting.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>

  <script>
    var council_member_table = $("#split-votes").DataTable({
      "info": false,
      "searching": true,
      "bLengthChange": false,
      "paging": false,
      "aaSorting": [ [2,'desc'] ],
      "aoColumns": [
        null,
        null,
        null,
        { "sType": "num-html" },
        { "sType": "num-html" }
      ]
    });
  </script>

{% endblock %}
