{% extends "base_with_margins.html" %}
{% load extras chicago_extras %}
{% load static %}
{% block title %}{{event.name}}{% endblock %}
{% block content %}

  <br/>
  <p><a href='/events/'><i class="fa fa-angle-double-left" aria-hidden="true"></i> {{ CITY_VOCAB.EVENTS }}</a></p>
  <h1>{{event.name}}</h1>
  <p>{{event.description}}</p>

  <p>
    <i class="fa fa-fw fa-calendar-o"></i> {{event.start_time | date:"D n/d/Y"}}<br/>
    <i class="fa fa-fw fa-clock-o"></i> {{event.start_time | date:"g:i a"}}<br/>
    <i class="fa fa-fw fa-map-marker"></i> {{event.location}}
  </p>

  <hr />
  <div class="row-fluid">
    <div class="col-sm-5">
      {% if event.clean_agenda_items %}
        <h4>Agenda</h4>
        <p>
          <ol>
            {% for agenda_item in event.clean_agenda_items %}
              {% if agenda_item.description|lower != 'page break' %}
                <li>
                  {% if agenda_item.related_bills.all %}
                    <a href="/legislation/{{agenda_item.related_bills.first.bill.slug}}/">
                      {{agenda_item.related_bills.first.bill.friendly_name}}
                    </a>
                    <br/>
                  {% endif %}
                  {{agenda_item.description}}
                </li>
              {% endif %}
            {% endfor %}
          </ol>
        </p>
      {% endif %}

      {% if event.documents.all %}
        <h4>Attachments</h4>
        <p>
          {% for document in event.documents.all %}
            <i class='fa fa-fw fa-file-text-o'></i> <a href="{{document.url}}">{{document.note}}</a><br />
          {% endfor %}
        </p>
      {% endif %}

    </div>
    <div class="col-sm-5">
      {% if attendance %}
        <h4>Attendance</h4>
        <div class="row">

        </div>

        {% for p in attendance %}
          <div class="col-sm-4">
            <p class="h4">
              <a href="{% url 'person' p.person.councilmatic_person.slug %}">
                <span class="label label-{% if p.attended %}active{% else %}failed{% endif %}">
                  {{p.person.name}}
                  {% if p.attended %}
                    <i class="fa fa-fw fa-check"></i>
                  {% else %}
                    <i class="fa fa-fw fa-times"></i>
                  {% endif %}
                </span>
              </a>
            </p>
          </div>
        {% endfor %}

        <!-- <table class="table">
          <tr>
            <th>Name</th>
            <th>Present</th>
            <th>Absent</th>
          </tr>
          {% for p in attendance %}
            <tr>
              <td><a href="{% url 'person' p.person.councilmatic_person.slug %}">{{p.person.name}}</a></td>
              <td>{% if p.attended %}<i class="fa fa-fw fa-check"></i>{%endif%}</td>
              <td>{% if not p.attended %}<i class="fa fa-fw fa-times"></i>{%endif%}</td>
            </tr>
          {% endfor %}
        </table> -->
      {% endif %}
    </div>
  </div>


  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "location": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "{{ CITY_NAME }}"
        },
        "name": "{{event.location_name}}"
      },
      "name": "{{event.name}}",
      "startDate": "{{ event.start_time.isoformat }}",
      "url" : "{{SITE_META.site_url}}/event/{{event.slug}}"
    }
  </script>

  <script type="text/javascript">
    // for reference purposes
    console.log( "OCD ID: {{event.ocd_id}}" )
  </script>

{% endblock %}
