{% extends "base_with_margins.html" %}
{% load static %}
{% block title %}Events{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker3.css' %}" />
{% endblock %}
{% block content %}

  <div class="row-fluid">
    <div class="col-sm-8">
      <br/><br />
      <div id="events-form" class="row">
        <div class="col-xs-10">
          <form action='/events' method='GET'>
            <div class="input-group" id='date-search'>
              <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-calendar" aria-hidden="true"></i></span>
              <input type="text" class="form-control date-filter" placeholder="Select a month and year..." value="{{ date }}" readonly id="form_datetime" name="form_datetime">
              <span class="input-group-btn">
                <button class="btn btn-default btn-date" id="btn-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i> <span class='hidden-sm hidden-xs'>Search</span></button>
              </span>
            </div>
          </form>
        </div>
        <div class="col-xs-2">
          <a href="{% url 'events' %}" class="btn btn-primary d-inline-block"><i class="fa fa-repeat" aria-hidden="true"></i><span class="hidden-xs"> Reset</span></a>
        </div>
      </div>

      <br />
      <a href="/events/?form_datetime={{prev_month}}" class="btn btn-sm btn-primary">< Previous month</a>
      <a href="/events/?form_datetime={{next_month}}" class="btn btn-sm btn-primary">Next month ></a>
      {% if select_events %}
        <h2><span>{{ CITY_VOCAB.EVENTS }} in {{select_date}}</span>
          <br class="non-desktop-only"/>
          <small><a href="rss/" title="RSS feed for Upcoming and Recent Events"><i class="fa fa-rss-square" aria-hidden="true"></i> RSS</a></small>
        </h2>
        <hr/>

        {% for date, event_list in select_events %}
          {% include "partials/event_day.html" %}
        {% endfor %}

      {% elif upcoming_events %}
        <h2>Upcoming {{ CITY_VOCAB.EVENTS }}</h2>
        <a href="rss/" title="RSS feed for Upcoming and Recent Events"><i class="fa fa-rss-square" aria-hidden="true"></i> RSS</a>
        <hr/>
        {% for date, event_list in upcoming_events %}
          {% include "partials/event_day.html" %}
        {% endfor %}
      {% else %}
        <h2>
          No {{ CITY_VOCAB.EVENTS }}
        </h2>

        <p>Search for a month and year. <a href="rss/" title="RSS feed for Upcoming and Recent Events"><i class="fa fa-rss-square" aria-hidden="true"></i> RSS</a></p>
      {% endif %}
    </div>

    <div class="col-sm-4">
      <br/>
      {% include 'partials/events_info_blurb.html' %}
    </div>
  </div>

{% endblock %}

{% block extra_js %}

  <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script type="{% static 'js/moment.js' %}"></script>
  <script>
    $(document).ready(function() {
      var customStartDate = '01/01/' + '{{ year_range_min }}'
      var customEndDate = '12/31/' + '{{ year_range_max }}'
      console.log(customStartDate)
      $("#form_datetime").datepicker({
        autoclose: true,
        viewMode: "months",
        minViewMode: "months",
        startDate: customStartDate,
        endDate: customEndDate,
      });
    });
  </script>

{% endblock %}
