{% extends "base_with_margins.html" %}
{% load extras chicago_extras %}
{% load static %}
{% block title %}{{event.name}}{% endblock %}
{% block content %}

  <br/>
  <p><a href='/events/'><i class="fa fa-angle-double-left" aria-hidden="true"></i> {{ CITY_VOCAB.EVENTS }}</a></p>
  <h1>{{event.name}}</h1>
  <p>{{event.description}}</p>

  <p>
    <i class="fa fa-fw fa-calendar-o"></i> {{event.start_time | date:"D n/d/Y"}}<br/>
    <i class="fa fa-fw fa-clock-o"></i> {{event.start_time | date:"g:i a"}}<br/>
    <i class="fa fa-fw fa-map-marker"></i> {{event.location}}
  </p>

  <hr />
  <div class="row-fluid">
    <div class="col-sm-6">
      {% if event.clean_agenda_items %}
        <h4>Agenda</h4>
        <p>
          <ol>
            {% for agenda_item in event.clean_agenda_items %}
              {% if agenda_item.description|lower != 'page break' %}
                <li>
                  {% if agenda_item.related_bills.all %}
                    <a href="/legislation/{{agenda_item.related_bills.first.bill.slug}}/">
                      {{agenda_item.related_bills.first.bill.friendly_name}}
                    </a>
                    <br/>
                  {% endif %}
                  {{agenda_item.description}}
                </li>
              {% endif %}
            {% endfor %}
          </ol>
        </p>
      {% endif %}

      {% if event.documents.all %}
        <h4>Attachments</h4>
        <p>
          {% for document in event.documents.all %}
            <i class='fa fa-fw fa-file-text-o'></i> <a href="{{document.url}}">{{document.note}}</a><br />
          {% endfor %}
        </p>
      {% endif %}

    </div>
    <div class="col-sm-6">
      <h4>Attendance</h4>
      {% if attendance_taken %}
        <table class="table">
          <tr>
            <th></th>
            <th>Name</th>
            <th>Ward</th>
            <th class="text-center">Present</th>
            <th class="text-center">Absent</th>
          </tr>
          {% for p in attendance %}
            <tr>
              <td>
                <div class="thumbnail-square">
                  <img src='{{p.attendee|get_person_headshot}}' alt='{{p.attendee.name}}' title='{{p.attendee.name}}' class='img-responsive img-thumbnail' />
                </div>
              </td>
              <td><a href="{% url 'person' p.attendee.slug %}">{{p.attendee.name}}</a></td>
              <td>{{ p.attendee.latest_council_seat }}</td>
              <td class="text-center {% if p.attended %}info{% endif %}">{% if p.attended %}<i class="fa fa-fw fa-check"></i>{%endif%}</td>
              <td class="text-center {% if not p.attended %}danger{% endif %}">{% if not p.attended %}<i class="fa fa-fw fa-times"></i>{%endif%}</td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>Attendance was not taken for this event.</p>
      {% endif %}
    </div>
  </div>


  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "location": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "{{ CITY_NAME }}"
        },
        "name": "{{event.location_name}}"
      },
      "name": "{{event.name}}",
      "startDate": "{{ event.start_time.isoformat }}",
      "url" : "{{SITE_META.site_url}}/event/{{event.slug}}"
    }
  </script>

  <script type="text/javascript">
    // for reference purposes
    console.log( "OCD ID: {{event.ocd_id}}" )
  </script>

{% endblock %}
