{% extends "base_with_margins.html" %}
{% load extras chicago_extras %}
{% load static %}
{% block title %}{%if event.status == 'cancelled'%}CANCELLED: {% endif %}{{event.name}}{% endblock %}
{% block content %}

  <br/>
  <p><a href='/events/'><i class="fa fa-angle-double-left" aria-hidden="true"></i> {{ CITY_VOCAB.EVENTS }}</a></p>
  <h1>{%if event.status == 'cancelled'%}CANCELLED: {% endif %}{{event.name}}</h1>
  <p>{{event.description}}</p>

  <p>
    {% for o in event_orgs %}
      {% if 'chicago-city-council' in o.organization.councilmatic_organization.slug %}
        <!-- don't link to city council detail -->
        <i class="fa fa-fw fa-group"></i> {{o.name}}<br/>
      {% else %}
        <i class="fa fa-fw fa-group"></i> <a href="{% url 'committee_detail' o.organization.councilmatic_organization.slug %}">{{o.name}}</a><br/>
      {% endif %}
    {% endfor %}
    <i class="fa fa-fw fa-calendar-o"></i> {{event.start_time | date:"D n/d/Y"}}<br/>
    <i class="fa fa-fw fa-clock-o"></i> {{event.start_time | date:"g:i a"}}<br/>
    <i class="fa fa-fw fa-map-marker"></i> {{event.location}}
  </p>

  {% if event.video_vimeo_id %}
    <iframe src="https://player.vimeo.com/video/{{event.video_vimeo_id}}?h=b9331c0f77&title=0" width="100%" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    <p><a href="https://vimeo.com/{{event.video_vimeo_id}}">View on Vimeo</a></p>
  {% endif %}
  <hr />
  <div class="row">
    <div class="col-sm-10">
      {% if event.agenda.all %}
        <h4>Agenda: {{event.agenda.all|length}} items</h4>
        <table class="table table table-responsive table-condensed">
          <thead>
            <tr>
              <th>#</th>
              <th>Description</th>
              <th>ID</th>
              <th>Sponsor(s)</th>
            </tr>
          </thead>
          <tbody>
            {% for agenda_item in event.agenda.all %}
              <tr>
                {% if agenda_item.description|lower != 'page break' %}
                  <td>{{ forloop.counter }}</td>
                  <td>{{agenda_item.description}}</td>
                  {% if agenda_item.bills %}
                    <td>
                      <a href="/legislation/{{agenda_item.bills.0.bill.councilmatic_bill.slug}}/">
                        {{ agenda_item.bills.0.bill.councilmatic_bill.friendly_name }}
                      </a>
                    </td>
                    <td>
                      {% for s in agenda_item.bills.0.bill.sponsors %}
                        {{ s.person.councilmatic_person.link_html | safe }}{% if not forloop.last %},{% endif %}
                      {% endfor %}
                    </td>
                  {% else %}
                    <td></td>
                    <td></td>
                  {% endif %}
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}

      <!-- only show attendance for past events that weren't cancelled -->
      {% if event.status == 'passed' %}
        {% if attendance_taken %}
          <h4>Alder Attendance: {{attendance_present}} Present, {{attendance_absent}} Absent</h4>
          <table class="table">
            <tr>
              <th></th>
              <th>Name</th>
              <th>Ward</th>
              <th class="text-center">Present</th>
              <th class="text-center">Absent</th>
            </tr>
            {% for p in attendance %}
              <tr class="{% if not p.attended %}danger{% endif %}">
                <td>
                  <div class="thumbnail-square">
                    <img src='{{p.attendee|get_person_headshot}}' alt='{{p.attendee.name}}' title='{{p.attendee.name}}' class='img-responsive' />
                  </div>
                </td>
                <td><a href="{% url 'person' p.attendee.slug %}">{{p.attendee.name}}</a></td>
                <td>{{ p.attendee.latest_council_seat }}</td>
                <td class="text-center">{% if p.attended %}<i class="fa fa-fw fa-check"></i>{%endif%}</td>
                <td class="text-center">{% if not p.attended %}<i class="fa fa-fw fa-times"></i>{%endif%}</td>
              </tr>
            {% endfor %}
          </table>
        {% else %}
          <h4>Alder Attendance</h4>
          <p>Attendance was not taken for this meeting or has not been posted by the Clerk's office</p>
        {% endif %}
      {% endif %}

      {% if event.documents.all %}
        <h4>Attachments</h4>
        <p>
          {% for document in event.documents.all %}
            <i class='fa fa-fw fa-file-text-o'></i> <a href="{{document.links.first.url}}">{{document.note}}</a><br />
          {% endfor %}
        </p>
      {% endif %}
      <div class="modal-links">
        <!-- View on legistar -->
        {{ event|get_legistar_link|safe }}
      </div>
    </div>
  </div>


  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "location": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "{{ CITY_NAME }}"
        },
        "name": "{{event.location_name}}"
      },
      "name": "{{event.name}}",
      "startDate": "{{ event.start_time.isoformat }}",
      "url" : "{{SITE_META.site_url}}/event/{{event.slug}}"
    }
  </script>

  <script type="text/javascript">
    // for reference purposes
    console.log( "OCD ID: {{event.ocd_id}}" )
  </script>

{% endblock %}
