{% extends "base_with_margins.html" %}
{% load static extras chicago_extras %}
{% block title %}{{ legislation.friendly_name }}{% endblock %}
{% block content %}

  {% if legislation %}
    <div class="row-fluid">
      <div class="col-sm-12">
        <h1 class="bill-page-title">
          <br />
          {{ legislation.friendly_name }}
          <small>{{ legislation.inferred_status | inferred_status_label | safe }}</small>
        </h1>

        {% if legislation.topics %}
          <p>
            <i class="fa fa-tag"></i>
            {% for tag in legislation.topics %}
              <span class="badge badge-muted badge-big pseudo-topic-tag">
                <a href='/search/?q=&selected_facets=topics_exact:{{ tag }}'>{{ tag }}</a>
              </span>
            {% endfor %}
            <br/>
          </p>
        {% endif %}
      </div>
    </div>

    <div class="col-sm-8">
      <br/>
      <p>{{ legislation.title }}</p>

      {% if legislation.other_identifiers.all %}
        <p>
          Alternate identifiers:
          {% for identifier in legislation.other_identifiers.all %}
            {{ identifier.identifier }}
            {% if not forloop.last %} , {% endif %}
          {% endfor %}
        </p>
      {% endif %}

      <div class="divider"></div>

      {% if legislation.sponsors %}
        <h3 class="no-pad-bottom"><i class='fa fa-fw fa-users'></i> Sponsors</h3>

        <div class="table-responsive">
          <table class='table table-responsive' id='council-members'>
            <thead>
              <tr>
                <th></th>
                <th>
                  {% if legislation.sponsors.all|length > 1 %}
                    Sponsors ({{legislation.sponsors.all|length}})
                  {% else %}
                    Sponsor
                  {% endif %}
                </th>
                <th>
                  {{CITY_VOCAB.MUNICIPAL_DISTRICT}}
                </th>
              </tr>
            </thead>
            <tbody>
              {% for s in legislation.sponsors %}
                {% if s.primary %}
                  <tr>
                    <td>
                      <div class="thumbnail-square">
                        <img src='{{s.person.councilmatic_person|get_person_headshot}}' alt='{{s.person.name}}' title='{{s.person.name}}' class='img-responsive' />
                      </div>
                    </td>
                    <td>
		      <a href="{% url 'person' s.person.councilmatic_person.slug %}">{{ s.person.name }}</a><span class="badge badge-default">Primary Sponsor</span>
                    </td>
                    <td>
                      {{s.person.council_posts.0.post.label}}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
              {% for s in legislation.sponsors %}
                {% if not s.primary %}
                  <tr>
                    <td>
                      <div class="thumbnail-square">
                        <img src='{{s.person.councilmatic_person|get_person_headshot}}' alt='{{s.person.name}}' title='{{s.person.name}}' class='img-responsive' />
                      </div>
                    </td>
                    <td>
                      <a href="{% url 'person' s.person.councilmatic_person.slug %}">{{ s.person.name }}</a>
                    </td>
                    <td>
                      {{s.person.council_posts.0.post.label}}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="divider"></div>
      {% endif %}

      {% if legislation.actions %}
        <h3 class="no-pad-bottom"><i class='fa fa-fw fa-list-ul'></i> History</h3>
        <div class="table-responsive">
          <table class='table table-responsive' id='committee-actions'>
            <thead>
              <tr>
                <th>Date</th>
                <th>Legislative body</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for action in legislation.actions.all %}
                <tr>
                  <td class='nowrap text-muted'>
                    <span datetime='{{action.date }}'>{{action.date}}</span>
                  </td>
                  <td>
                    <a href="{% url 'committee_detail' action.organization.councilmatic_organization.slug %} %}">{{action.organization.name}}</a>
                  </td>
                  <td>
                    <span class='text-{{action.label}}'>{{action.description | remove_action_subj}}</span>

                    {% if action.vote.counts.all|length > 0 %}
                      <table class='table table-responsive'>
                        <thead>
                          <tr>
                            <th>Votes for</th>
                            <th>Votes against</th>
                            <th>Other votes</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              {% for vote in action.vote.counts.all %}
                                {% if vote.option == 'yes' %}
                                  <strong>{{vote.option|capfirst}}: {{vote.value}}</strong><br />
                                {% endif %}
                              {% endfor %}
                              <p class="small nowrap">
                                {% for personvote in action.vote.votes.all|dictsort:"voter_name" %}
                                  {% if personvote.option == 'yes' %}
                                    <i class="fa fa-fw fa-check"></i>
                                    {% if personvote.voter.councilmatic_person %}
                                      <a href="{% url 'person' personvote.voter.councilmatic_person.slug %}">{{personvote.voter.name}}</a>
                                    {% else %}
                                      {{personvote.voter.name}}
                                    {% endif %}
                                    <br />
                                  {% endif %}
                                {% endfor %}
                              </p>
                            </td>
                            <td>
                              {% for vote in action.vote.counts.all %}
                                {% if vote.option == 'no' %}
                                  <strong>{{vote.option|capfirst}}: {{vote.value}}</strong><br />
                                {% endif %}
                              {% endfor %}
                              <p class="small nowrap">
                                {% for personvote in action.vote.votes.all|dictsort:"voter_name" %}
                                  {% if personvote.option == 'no' %}
                                    <i class="fa fa-fw fa-times"></i>
                                    {% if personvote.voter.councilmatic_person %}
                                      <a href="{% url 'person' personvote.voter.councilmatic_person.slug %}">{{personvote.voter.name}}</a>
                                    {% else %}
                                      {{personvote.voter.name}}
                                    {% endif %}
                                    <br />
                                  {% endif %}
                                {% endfor %}
                              </p>
                            </td>
                            <td>
                              {% for vote in action.vote.counts.all %}
                                {% if vote.option != 'yes' and vote.option != 'no' %}
                                  <strong>{{vote.option|capfirst}}: {{vote.value}}</strong><br />
                                {% endif %}
                              {% endfor %}
                              <p class="small nowrap">
                                {% for personvote in action.vote.votes.all|dictsort:"voter_name" %}
                                  {% if personvote.option != 'yes' and personvote.option != 'no' %}
                                    {{ personvote.option|capfirst}}:
                                    {% if personvote.voter.councilmatic_person %}
                                      <a href="{% url 'person' personvote.voter.councilmatic_person.slug %}">{{personvote.voter.name}}</a>
                                    {% else %}
                                      {{personvote.voter.name}}
                                    {% endif %}
                                    <br />
                                  {% endif %}
                                {% endfor %}
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="divider"></div>
      {% endif %}

      {% if legislation.unique_related_upcoming_events %}
        <h3><i class='fa fa-fw fa-calendar-o'></i> Upcoming {{ CITY_VOCAB.EVENTS }}</h3>

        {% for event in legislation.unique_related_upcoming_events %}
          <p>
            {{event.start_time | date:'M d, Y' }} - <a href="{% url event_detail event.slug %}" title="View Event Details">{{ event.name }}</a>
          </p>
        {% endfor %}

        <div class="divider"></div>
      {% endif %}

      {% if legislation.addresses %}
        <h3>
          <i class='fa fa-map-marker'></i> Locations mentioned
        </h3>
        <ul class="list-unstyled">
          {% for address in legislation.addresses %}
            <li><a target='_blank' href="https://maps.google.com/maps?q={{ address|urlencode }}+{{ CITY_NAME }}">
              {{ address }} {{ CITY_NAME }}</a></li>
          {% endfor %}
        </ul>
        <img class='img-rounded' src="https://maps.googleapis.com/maps/api/staticmap?size=400x200&zoom=13&maptype=roadmap{% for address in legislation.addresses %}&markers={{ address }}+{{ CITY_NAME }}{% endfor %}&key={{GOOGLE_API_KEY}}">
        <div class="divider"></div>
      {% endif %}

      {% if legislation.attachments %}
        <h3>
          <i class='fa fa-fw fa-paperclip'></i>
          Attachments ({{ legislation.attachments | length }})
        </h3>
        <ul>
          {% for doc in legislation.attachments %}
            <li>
              <a href="{{doc.url}}" target="blank">{{ doc.note }}</a>
            </li>
          {% endfor %}
        </ul>
        <div class="divider"></div>
      {% endif %}

      {% include 'partials/legislation_text.html' %}

      <h3>Tools</h3>
      <div class="modal-links">
        <a href="rss/" title="RSS feed for Legislation {{legislation.friendly_name}}"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> RSS updates for this legislation</a><br />

        <!-- Embed -->
        {% with slug=legislation.slug widget='bill_widget' frameheight='260px' %}
          {% include 'partials/widget_modal.html' %}
        {% endwith %}
        <br />
        <!-- Link to legistar -->
        {{ legislation|get_legistar_link|safe }}
      </div>
    </div>

  {% else %}
    <h3>Legislation not found</h3>
  {% endif %}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "CreativeWork",
      "sourceOrganization": "{{ CITY_COUNCIL_NAME }}",
      "name": "{{ legislation.friendly_name }}",
      "alternateName": ["{{ legislation.identifier }}", "{{ legislation.identifier.split|join:'' }}"],
      {% if legislation.actions %}"datePublished": "{{legislation.actions.0.date|date:'Y-m-d'}}", {% endif %}
      "description": "{{ legislation.description }}",
      "text": "{% firstof legislation.full_text legislation.ocr_full_text %}"
    }
  </script>

{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.sorting.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>
  <script>

    $("#committee-actions").DataTable({
      "info": false,
      "searching": false,
      "bLengthChange": false,
      "paging": false,
      "bSort" : false
    });

    $("#council-members").DataTable({
      "info": false,
      "searching": false,
      "bLengthChange": false,
      "paging": false,
      "aoColumns": [
        { "bSortable": false },
        null,
        { "sType": "num-html" },
      ]
    });

    $('.thumbnail-square img').each(function() {
      if ($(this).width() > $(this).height()) {
        $(this).addClass('landscape');
      }
    });

    if (window.screen.width > 768){
      $("#pdf-embed").attr("src", "/pdfviewer/?file={{legislation.full_text_doc_url|urlencode}}");
    }
    else{
      $('#pdf-embed').hide()
      $('#pdf-download-link').html("<i class='fa fa-fw fa-external-link'></i> View PDF")
    }

    // for reference purposes
    console.log( "OCD ID: {{legislation.ocd_id}}" )

  </script>
{% endblock %}
